.centered
	.controls
		include ../view-controls.jade

	a.edit.btn.green(href=config.editUrl(data._id))
		i.fa.fa-pencil
		| Edit

	h2= data.title

	.results-paging
		include ../view-paging.jade

	h4.author= data.tempCreator

	.fieldsets

	include ../view-receptions.jade

	include ../view-footer.jade