.centered
	.controls
		include ../view-controls.jade

	.results-paging
		include ../view-paging.jade

	h2= data.title

	h4.author= data.tempCreator

	.fieldsets

	include ../view-receptions.jade

	include ../view-footer.jade