form
	ul
		li
			label First Name
			input(type="text", name="first-name")
		li
			label Last Name
			input(type="text", name="last-name")
		li
			label Gender
			select(name="gender")
				option(value="FEMALE") Female
				option(value="MALE") Male
				option(value="UNKNOWN") Unknown
		li
			label Types
			select(name="types")
				option
				option(value="AUTHOR") Author
				option(value="ARCHETYPE") Archetype
				option(value="PSEUDONYM") Pseudonym
		li
			label Birth Date
			input(type="text", name="birthDate")
		li
			label Death Date
			input(type="text", name="deathDate")