.centered
	.controls
		include ../view-controls.jade

	.results-paging
		include ../view-paging.jade

	h2
		if data.names.length
			span=componentsToName(data.names[0].components)
		else
			span: i= Unnamed
		a.network-popup-link.smaller-text(href=config.personGraphPath(data._id))
			i.fa.fa-share-alt
			| Network

	//- h4.author= data.tempCreator

	.fieldsets

	include ../view-receptions.jade

	include ../view-footer.jade