doctype
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="/womenwriters/css/react.css", type="text/css")
	body
		header
			h1 NEWW Women Writers
		#main-menu
		.app
		.search-authors
		.search-publications

		script(src="/womenwriters/js/react-libs.js")
		script(src="/womenwriters/js/react-src.js")