doctype
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="/css/react.css", type="text/css")
	body
		header
			h1 NEWW Women Writers
		#main-menu
		.app

		script(src="/js/react-libs.js")
		script(src="/js/react-src.js")