.dynamic_s_creator-placeholder
.dynamic_s_document_type-placeholder
.dynamic_s_date-placeholder
.dynamic_s_origin-placeholder
.dynamic_s_language-placeholder
.dynamic_s_genre-placeholder
.dynamic_s_subject-placeholder
