.dynamic_s_types-placeholder
.dynamic_s_gender-placeholder
.dynamic_s_residence-placeholder
.dynamic_s_language-placeholder
.dynamic_s_birthDate-placeholder
.dynamic_s_deathDate-placeholder
.dynamic_s_birthplace-placeholder
.dynamic_s_deathplace-placeholder
.dynamic_s_collective-placeholder
.dynamic_s_religion-placeholder