/* CSS Document */

/* BASIC ELEMENTS */
HTML {
	height:100%;
	
	}

* {
	text-decoration:none;
	}

body {
	
	font: 100%/1.5 Helvetica, Arial, sans-serif;
	font-weight:300;
	color: #333;
	height:100%;
	margin:0;
	padding:0;
	}

a {
	text-decoration:none;
	border-bottom:1px dotted #D0DFEB;
	}

a:hover {
	border-bottom:1px solid #6295BA;
	}

p {
	margin-top:0;
	}

h1 {
	margin:0 0 .5em 0;
	}

h2 {
	margin:0 0 .5em 0;
	
	}

h3 {
	margin:0 0 .5em 0
	}

ul {
	margin:0;
	padding:0;
	}

li {
	margin:0;
	padding:0;
	list-style:none;
	}


.clear {
	clear:both;
	}

.wrapper {
	margin-left:auto;
	margin-right:auto;
	}

header {}


label {
	display:inline;
	}


.marginRow {
	margin-bottom:2em;
	}


/* SMARTPHONE  */
@media (max-width: 22em) {
	
	.wrapper {
		max-width:17em;
		}
	

}


/* TABLET PORTRAIT */
@media (min-width: 42em) {

.wrapper {
		max-width:39em;
		}

	

}



/* TABLET LANDSCAPE  / SMALL SCREEN */
@media (min-width: 58em) {

.wrapper {
		max-width:60em;
		}
	label.newLine {
	display:block;
	}
			
}

/* BIG SCREEN */
@media (min-width: 80em) {


.wrapper {
	max-width:65em;
	}