doctype
html
	head
		script(src="#{baseUrl}/main.js")
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", type="text/css")
		link(rel="stylesheet", href="#{baseUrl}/main.css", type="text/css")
	body
		.huygens-loader
			.loader-huygens-logo
			.loading-text Loading