formWidth = 100% // TODO: formWidth
borderWidth = 1px

bigBorderWidth = 5px

labelPadding = 3%
labelWidth = 15%

border-style()
	border borderWidth solid borderColor
	border-radius borderRadius

input[type=text], textarea, .input-field
	box-sizing border-box
	border-style()

	padding inputVerticalPadding inputHorizontalPadding
	color inputTextColor

	font-size baseFontSize

	outline none

	&:active, &:focus
		border 1px solid activeBorderColor
	&:hover
		border-color darken(activeBorderColor, 5%)

//============================== General form styling

button, .btn
	button-style()
	background-color buttonColor
	color white
	outline none

	i + span
		margin-left .3em
	&[data-action] > i + span
		margin-left 0

	&:hover
		background-color buttonActiveColor

	&.gray
		background-color lightGray
		color darkGray
		&:hover
			background-color darkGray
			color white
	
	&.disabled, &[disabled]
		background-color lightGray
		color mediumGray
		border 1px solid mediumGray
		&:hover
			cursor default

	&.red
		background-color redHue
		color white
		&:hover
			background-color darken(redHue, 10%)

	&.alert
		shake(1, 0.15s)

	&.dropdown
		position relative
		overflow hidden

		z-index 100

		transition max-height .1s ease-out

		&:hover
			overflow visible

		ul
			height 0
			max-height 0
			opacity 0

		&:hover ul
			display inline-block

			position absolute
			top 100%
			width 100%
			left 0

			height auto
			max-height 999px
			opacity 1

			background-color lightGray
			box-shadow 0 0 10px rgba(0,0,0,0.1)

			li
				padding inputVerticalPadding inputHorizontalPadding

			li:hover
				background-color darken(lightGray, 5%)
				color darkGray

.controls
	margin 35px 0
	width 100%
	position relative

	&.bottom
		padding-top 4em

	&:after
		clear both
		content ""
		display block

	button, .btn
		font-size 16px
		float left

		&.right
			float right

	a.btn
		margin 2px
		&:hover
			border-bottom none

	.processing
		display block
		margin-left 5em
		padding .5em


//========================================= Timbuctoo form styling

.timbuctoo-form
	& *, & *:hover, & *:active
		transition all .15s ease 0s

	fieldset
		border none
		padding 0

		legend
			font-weight bold
			display block
			padding 1em 0
			margin-bottom 2em
			width 100%

			border-bottom 2px solid lightGray

			&:hover
				cursor pointer
				border-color mediumGray

				&:after
					content "-"
					display block
					width 2em
					height 3em
					float right
					text-align right
					padding-right .5em
					color mediumGray
		&.collapsed legend:hover:after
			content "+"

	form
		input[type=text], textarea, .select2-container
			width formWidth // TODO: formWidth
			font-size baseFontSize
			margin 0

		textarea
			min-height 7em

		.field-label
			font-family labelFont
			color labelColor

			display inline-block
			box-sizing content-box
			width labelWidth
			padding-right labelPadding
			padding-top inputVerticalPadding

			vertical-align top

		.field-label + div
			display inline-block

		select
			background-color transparent
			border-style()
			
			font-size baseFontSize

			padding inputVerticalPadding inputHorizontalPadding
			margin 0 inherit
			width 100%

			cursor pointer
			outline none
			&:hover, &:active
				border 1px solid activeBorderColor

		span[data-editor='data-editor']
			display inline-block
			box-sizing border-box
			width 82%
			min-height 1px

		span[data-editor='data-editor'] span[data-editor='data-editor']
			width 100% // for sub fields, reset

		button[data-action="remove"]
			margin-left 1em

		.timbuctoo-list-item
			position relative

			margin-bottom 1em

			button[data-action="remove"]
				position absolute // right align top
				margin-top inputHorizontalPadding


		button[data-action="add"]
			margin-left inputHorizontalPadding

		button[data-action="add"], button[data-action="remove"]
			border-radius 1em
			background-color lightGray
			color mediumGray
			i
				display inline
			span
				opacity 0
				display inline-block
				width 0
				height 0
			&:hover, &.static
				border-radius borderRadius
				span
					display inline-block
					margin-left .5em
					width auto
					height auto
					opacity 1
			&.right
				&:hover
					span
						margin-left 0
						margin-right .5em

		.removable
			input, select
				shadow = baseColor
				alpha(shadow, 0.5)
				box-shadow 0 0 3px shadow

	.timbuctoo-link-editor
		.label-field, .url-field
			position relative
			span
				display inline-block
				position absolute

				line-height 3em
				padding-left 1em

				font-size 75%
				color mediumGray
				text-transform uppercase

			input
				padding-left 5em

	.field
		margin-bottom 1em

		.error
			display none
		&.error
			margin-left -1em
			padding-left unquote('calc(1em - ' + bigBorderWidth + ')')

			border-left bigBorderWidth solid fieldErrorColor

			.error
				display block
				position relative
				left 18% // labelPadding + labelWidth

				padding inputVerticalPadding inputHorizontalPadding
				color fieldErrorColor
				span, i
					font-size .8em
				i
					margin-right .5em

	.person-names-editor
		display block

		.add-name-editor
			display block

		.person-name-editor
			display block
			position relative

			.name
				display inline-block
				width: 100%
				padding inputVerticalPadding inputHorizontalPadding
				cursor pointer

				i
					color mediumGray

			.timbuctoo-list-editor
				max-height 0
				overflow hidden
				opacity 0
				transition opacity .05s ease-out

			&.editing
				.name
					border-bottom-left-radius 0
					border-bottom-right-radius 0
					border-bottom 1px dotted borderColor
					&.removable
						border-color activeBorderColor
					&:hover
						border-color activeBorderColor
				.timbuctoo-list-editor
					max-height 9999px
					overflow visible

					opacity 1
					transition opacity .05s ease-out

					padding inputVerticalPadding inputHorizontalPadding

					border 1px dotted borderColor
					border-top none
					border-bottom-left-radius borderRadius
					border-bottom-right-radius borderRadius

					.timbuctoo-list-item
						margin 0 .5em .5em 0
						display inline-block
						max-width 100%

			.person-name-component-editor.removing
				duration = 5s
				.component-header
					.remove-name-component
						display none
					opacity 0
					max-width 0
					transition opacity .10s ease-out, max-width duration ease-out
				input
					padding 0
					opacity 0
					transition padding .5s ease-out calc(duration - .05s), opacity .5s ease-out calc(duration - .05s)

				.timbuctoo-list-item
					max-width 0
					margin 0
					transition max-width duration ease-out, margin duration ease-out calc(duration - 0.05s)

			.add-name-component-editor
				font-size 1em
				padding inputVerticalPadding inputHorizontalPadding
				margin inputVerticalPadding 1% 0 0
				width 25%

				span
					width auto
					height auto
					opacity 1
					margin-left inputHorizontalPadding

		.name-component-editor
			display inline
			.component-header
				position relative
				max-width 100%
				padding-left inputHorizontalPadding
				box-sizing border-box
				font-size 12px

				.type
					float left
				.remove-name-component.link
					float right
					border none

				clear both

	.readonly-editor
		display block
		margin-left borderWidth
		padding-left inputHorizontalPadding  // line up with text in form elements
		padding-top inputVerticalPadding

	// .relation-editor // FIXME: rename to timbuctoo-?
	// 	display inline-block

	.dynamic-relations-editor
		position relative
		display inline-block
		width 100%

		ul.relations
			margin 0

		label.timbuctoo-relation-type
			color mediumGray
			font-size 80%
			width 100%
			padding-left .7em
			padding-bottom .4em

		.timbuctoo-list-item
			margin-bottom 1em

		button[data-action=remove]
			bottom .4em

		.add-new
			display inline
			button
				margin-top 1em
			h5
				display none
			ul
				display none

		.add-new.selection-box
			border-style()

			padding 20px

			boxShadowStyle = 0px 0px 9px rgba(0, 0, 0, 0.2)
			box-shadow boxShadowStyle
			-webkit-box-shadow boxShadowStyle

			margin-bottom -45px
			margin-left -20px
			margin-right -20px

			display inline-block
			position absolute
			bottom 9px
			left 6px

			width 38em

			background-color white

			button
				margin-top 20px
				margin-left -5px

			h5
				margin 0 0 1em 0
				display block

			ul
				display inline-block

				margin 0 0 10px 0
				padding 0
				font-size 90%

				li
					display inline-block
					width 14em
					padding .4em 0

					cursor pointer
					&:hover
						font-weight bold