.loading.box
	h1 Please wait...

.error.box
	h1
		i.fa.fa-warning
		span.title Error
	.message I'm very sorry, but it seems an error has occurred.
	button.btn.ok(type="button") OK

.success.box
	h1
		i.fa.fa-check
		span.title Success!