.c4_4
	if receptions && _.keys(receptions).length
		h3 Receptions of this work
			ul.receptions
				each list, reception in receptions
					li
						h4= reception
						ul
							each r in list
								li: a(href=config.viewUrl(r.id))= r.displayName