.c4_4
	if receptions && Object.keys(receptions).length
		h3
			| Receptions of this
			= data._id.match(/^PERS/) ? ' person' : ' work'
		ul.receptions
			each list, reception in receptions
				li
					h4= config.receptionTypeLabel(reception)
					ul
						each r in list
							li: a(href=config.viewUrl(r.id))= r.displayName
