@font-face
	font-family 'Open Sans'
	font-style normal
	font-weight 300
	src local('Open Sans Light'), local('Open Sans-Light'), url('../fonts/OpenSans-Light.ttf') // format('ttf')

@font-face
	font-family 'Open Sans'
	font-style normal
	font-weight 400
	src local('Open Sans'), url('../fonts/OpenSans-Regular.ttf') // format('ttf')

@font-face
	font-family 'Open Sans'
	font-style normal
	font-weight 700
	src local('Open Sans Semibold'), local('Open Sans-Semibold'), url('../fonts/OpenSans-Semibold.ttf') // format('ttf')
