button-style()
	cursor pointer
	padding .4em .6em
	text-decoration none

	border none
	border-radius borderRadius

	font-weight bold
	font-family sans-serif

	transition all .15s ease 0s

button-light-style()
	cursor pointer
	padding .4em .6em
	text-decoration none

	background-color transparent
	color darkGray

	border-width 1px
	border-style solid
	border-radius borderRadius

	font-family sans-serif

results-counter-style(counter-name)
	content counter(counter-name)
	font-size .8em
	text-align right

	color mediumGray

no-user-select()
	user-select none
	-webkit-user-select none
	-ms-user-select none
	-moz-user-select none

small-loader-style(type='')
	width 16px
	height 16px
	background-image url(ABSOLUTE_PATH + '/images/small' + (type ? '-' + type + '-' : '-') + 'loader.gif')
	background-repeat no-repeat
	background-position center center

ellipsis()
	width 100%
	text-overflow ellipsis
	white-space nowrap
	overflow hidden

@-webkit-keyframes spaceboots
	0%
		-webkit-transform scale(1.0)
	50%
		-webkit-transform scale(1.3)
	100%
		-webkit-transform scale(1.0)

shake(repeat=infinite, duration=0.8s)
	-webkit-animation-name spaceboots
	-webkit-animation-duration duration
	-webkit-transform-origin 50% 50%
	-webkit-animation-iteration-count repeat
	-webkit-animation-timing-function linear