.controls
	button.btn.save
		i.fa.fa-check
		| Save
	a.btn.gray.cancel(href=config.documentViewUrl(document._id))
		i.fa.fa-times
		| Cancel

h1= document.title
.form

.controls.bottom
	button.btn.save
		i.fa.fa-check
		| Save
	a.btn.gray.cancel(href=config.documentViewUrl(document._id))
		i.fa.fa-times
		| Cancel
