svg
	circle
		fill #009688

.hire-range-slider
	&> path:first-of-type, path:nth-of-type(2)
		stroke-width 0
	&> path:nth-of-type(3)
		stroke-width 5
		stroke #eee

	g.range-line
		path
			stroke #bbb
			&.hovering,
			&:hover
				stroke #ddd
		circle
			fill #777
			&.hovering,
			&:hover
				fill #aaa

li.hire-range-facet
	background-color #fff
	margin-top 20px
	padding 20px

li.hire-range-facet header
	margin-bottom 20px

li.hire-range-facet label
	position relative
	top -66px
	float left
	&:first-of-type
		margin-left calc(100% - 85px)
		&::after
			content: " -"

.hire-range-facet > div > label:nth-of-type(2)
	float left
	margin-left 4px

svg.hire-icon.checked
	path:last-child
		fill #009688


.search-authors .hire-faceted-search-results > header > ul,,
.search-publications .hire-faceted-search-results > header > ul,
.reception-search > ul
	position absolute
	width 220px
	border 1px solid #ccc
	border-radius 8px
	padding 20px
	top 200px
	right 5%

.reception-search > ul
	top auto

.hire-faceted-search
	width calc(100% - 220px)

ul.hire-faceted-search-current-query > li > label
	width auto
	margin-right 4px
	width 100px

ul.hire-faceted-search-current-query > li > ul
	width calc(100% - 105px)


.hire-faceted-search-results svg.loader
	position fixed
	left 0
	top 300px

.reception-search .hire-faceted-search-results > ol.hire-faceted-search-result-list
	list-style auto


.search-collectives .hire-faceted-search-filters header > h3
	display none	