svg
	circle
		fill #009688

svg.hire-icon.checked
	path:last-child
		fill #009688


.hire-faceted-search-results > header > ul,
.reception-search > ul
	position absolute
	width 220px
	border 1px solid #ccc
	border-radius 8px
	padding 20px
	top 200px
	right 5%

.reception-search > ul
	top auto

.hire-faceted-search
	width calc(100% - 220px)

ul.hire-faceted-search-current-query > li > label
	width auto
	margin-right 4px
	width 100px

ul.hire-faceted-search-current-query > li > ul
	width calc(100% - 105px)

// .hire-faceted-search
// 	margin-top 40px

// 	& > ul, .hire-faceted-search-results
// 		inline_block()
// 		margin-right 5%

// 	& > ul
// 		width 30%
// 		margin 0 5%

// 	.hire-faceted-search-results
// 		width 55%

// 		header
// 			h3
// 				margin-top 0

// 		& > ul > li
// 			cursor pointer
// 			margin-bottom 20px

// 			label
// 				cursor pointer
// 				font-size 1.1em

// 			ul.metadata
// 				font-size 0.7em
// 				color #888

// 				li
// 					label
// 						inline_block()
// 						width 150px

// 	.hire-facet, .hire-faceted-search-text-search
// 		well()
// 		padding-right 0
// 		padding-bottom 0
// 		box-sizing border-box
// 		margin-bottom 20px

// 		h3
// 			margin 0 0 12px 0
// 			padding 0

// 		& > ul
// 			max-height 300px
// 			overflow-y scroll

// 	.hire-faceted-search-text-search
// 		padding-bottom 20px
// 		padding-right 20px
// 		height 72px

// 		input
// 			border none
// 			outline none
// 			font-size 1em
// 			padding-left 4px

// 	.hire-faceted-search-text-search .search-icon.active
// 		fill wwTurquoise

// 	li.hire-list-facet > ul > li.hire-list-facet-list-item svg.checked path:last-child
// 		fill wwTurquoise