body > .app > header
	background-color wwTurquoise
	a
		color #000
		text-decoration none

	& > h1
		margin 0
		padding 0
		line-height 75px
		color wwLighterTurquoise

	& > ul
		background-color wwLightTurquoise
		box-shadow 0 1px 3px rgba(0, 0, 0, 0.2)

		li
			inline_block()
			padding 10px 20px
			// width 120px
			text-align center

			&.active
				border-bottom 2px solid wwYellow
				font-weight bold
				color white

			&.new-author, &.new-publication, &.new-collective
				position absolute
				top 0
				right 0

			&.new-publication
				top 30px

			&.new-collective
				right 100px

html > body > div.app > header > ul > li > ul > li
	padding 0
	&:first-of-type
		padding-right 20px
	&:last-of-type
		padding-left 20px
