body > .app > header
	background-color wwTurquoise
	a
		color #000
		text-decoration none

	& h1
		line-height 75px
		color wwLighterTurquoise

	& > .main-menu
		box-shadow 0 1px 3px rgba(0, 0, 0, 0.2)
		clear both
		background-color wwLightTurquoise

	& > .main-menu > ul
		max-width 1200px
		margin 0 auto

		li
			inline_block()
			padding 10px 8px
			// width 120px
			text-align center

			&.active
				border-bottom 2px solid wwYellow
				font-weight bold
				color white

			&.new-author, &.new-publication, &.new-collective
				position absolute
				top 0
				right 0

			&.new-publication
				top 30px

			&.new-collective
				right 100px

html > body > div.app > header >  .main-menu > ul > li > ul > li
	padding 0
	&:first-of-type
		padding-right 8px
	&:last-of-type
		padding-left 8px
