@import "./import/variables"
@import "./import/functions"
@import "./import/fonts"

@import "./header"
@import "./footer"
@import "./link"
@import "./faceted-search"
@import "./page-transitions"
@import "./multi-form"
@import "./message"

body
	margin 0
	padding 0
	background #EEE
	font-size 100%
	line-height 1.375em
	font-size 16px
	overflow-y scroll

body, h1, h2, h3, h4, h5, input
	font-family 'Open Sans'

ul, h1, h2, h3
	margin 0
	padding 0

ul
	list-style none

.app > .hire-tabs
	padding 0 5%
	width 90%

header.page
	padding 30px 5%

	& > h2
		font-size 1.8em
		margin-left 20%

		small
			font-size 0.6em
			font-weight normal

			&.years
				margin 0 20px

		small.pseudonyms
			display block
			font-size 0.5em
			margin-top 0px

			ul.relation
				display inline
				padding-left 12px

				li
					display inline

					&:after
						content ", "

					&:last-child:after
						content ""

.author, .publication, .hire-faceted-search, .graph, .receptions {
	display: none;
}

.author.visible, .publication.visible, .hire-faceted-search.visible, .graph.visible, .receptions.visible {
	display: block;
}

.receptions.visible .hire-faceted-search
	display: block
	padding: 0
	margin-top: 20px

.receptions .hire-faceted-search-results > header > ul
	top 60px

.receptions .hire-faceted-search-results > ol.hire-faceted-search-result-list > li
	cursor default

.receptions .hire-faceted-search-results > ol.hire-faceted-search-result-list > li > ul
	width 30%
	margin-right 3%
	display inline-block
	vertical-align top
	font-size 0.7em
	color #888

.receptions .hire-faceted-search-results > ol.hire-faceted-search-result-list > li > ul > li > label
	font-size 1.4em
	color #000
	cursor pointer

.receptions li.hire-list-facet > ul > li.hire-list-facet-list-item > span.count
	display: none

.app > .receptions > .hire-tabs > ul, .app > .hire-tabs > ul
	margin-top 20px
	width 100%

.app > .receptions > .hire-tabs > ul li, .app > .hire-tabs > ul li
	display inline-block
	margin-right 20px

.app > .receptions > .hire-tabs > .hire-tab, .app > .hire-tabs > .hire-tab
	width 100%



.graph
	height calc(100% - 125px)
	top 125px
	width 100%
	position absolute
 
.graph-table
	position absolute
	width 200px
	background-color rgba(255,255,255,.6)
	border-radius 8px
	padding 8px
	margin 20px
	box-shadow 0 1px 3px rgba(0, 0, 0, 0.2)
	color #666
	& h4
		color #000
		margin 0
	& label
		color #000

.hire-force-directed-graph svg text.label:first-of-type
	fill #000
	font 14px sans-serif
	margin-left: 10px

.author, .publication
	position relative


	& > .link
		position absolute
		left 5%
		top 290px
		z-index 100

	& > button.edit, div.button-edit
		left 5%
		position absolute
		top 240px


	& > button.edit
		button()
		background-color wwLightTurquoise
		color wwLighterTurquoise
		font-weight bold
		padding 4px 12px
		text-transform uppercase
		z-index 1000

		&:hover
			button_box_shadow()

.app > div > .hire-tabs, .app > .hire-tabs
	padding 0 5% 120px 5%
	position relative


	& > ul, & > .hire-tab
		inline_block()

	& > ul
		width 20%

		li
			cursor pointer

			&.active
				font-weight bold
				font-size 1.1em
				transition font-size 150ms

	& > .hire-tab
		width 80%

		.well
			well()
			margin-bottom 20px

		& > .hire-forms-form > ul
			well()

		& > .temp-data
			well()
			margin-top 20px
			background-color #EEE
			color #AAA
			font-size 0.8em

			ul > li
				margin-bottom 4px

			h2
				font-size 1.2em
				margin 0 0 10px 0

			label, span
				inline_block()

			label
				width labelWidth

			span
				max-width 500px

.hire-empty-list
	small()

.record
	well()

	& > li
		margin-bottom 4px

.hire-forms-form > ul > li, .record
	margin-bottom 20px

	label, label + div, label + span
		inline_block()

	label + span, label + div
		max-width "calc(100% - %s)" % labelWidth

	label
		width labelWidth

	input, textarea
		input()

.hire-select, .hire-forms-autocomplete
	position relative

	.input-container
		position relative
		height 32px
		border 1px solid #CCC
		padding-left 6px
		line-height 32px
		box-sizing border-box
		cursor pointer

		&:hover
			button
				cursor pointer
				color baseColor

		button
			select_button()

ul.hire-options
	position absolute
	background white
	border 1px solid #CCC
	max-height 400px
	overflow-y auto
	width 100%
	box-sizing border-box

	li
		line-height 32px
		padding-left 6px
		cursor pointer

		&:hover, &.highlight
			background lightyellow

		&.selected:before
			color baseColor
			content "✓"

		span.highlight
			font-weight bold
			text-decoration underline


.hire-select
	width 397px

	ul.hire-options
		width 367px
		top 0

.hire-forms-form
	&.names-form > ul
		width 400px

		& > li
			inline_block()
			margin-bottom 0

			&:first-child
				width 36%
				margin-right 4%

			&:last-child
				width 60%

			input
				width 100%

	.hire-input.invalid
		input
			border 1px solid red

		.hire-forms-invalid-message
			small()
			color red
			white-space pre

.hire-forms-link-form
	margin-bottom 40px

	& > ul > li:last-child
		.hire-input.invalid
			.hire-forms-invalid-message
				display none

			input
				border 1px solid red

.not-found
	margin 5%
	color #888
	font-size 0.8em