.person.view
	.field-is-creator-of
		margin-top 1em
		.value
			width calc(100% - 190px - 0.5em)

	.network-popup-link
		margin-left 20px

		i
			margin-right .5em

.add-person-modal, .add-document-modal
	p.message.error
		font-weight bold
		background-color #DDD
		padding 0 6px
		border-radius 3px
		box-shadow 1px 1px 10px #666

	form
		margin-bottom 60px

		ul
			li
				height 50px

				select
					border 1px solid #EEE
					border-radius 3px
					padding 0.6em 0.4em
					color #555
					font-size 16px
					outline none
					background-color white

				select, input
					width 300px

				label, input, select
					display inline-block
					box-sizing border-box

				label
					width 140px