@import 'nib'

bottomBorder(clr)
	border-bottom 5px solid clr

.receptions .faceted-search
	.facets-menu
		reset-box-model()
		background-color transparent

	.facets-menu .reset
		position absolute
		right 0.5em

		button
			background-color transparent
			border 1px solid mediumGray
			color mediumGray
			font-weight normal

			&:hover
				background-color transparent
				border 1px solid darkGray

	.facets
		.facet
			position relative
			display inline-block
			width 33%

			header
				background-color transparent

			.body
				// position absolute
				box-sizing border-box
				// z-index 999
				width 100%

				background-color transparent

				// max-height 0

				// opacity 0
				// transition opacity .15s ease-out
				// transition all .15s ease-out 0

				.container
					max-height 250px

					ul li
						label
							width 100%
						.count
							display none

			// &:hover
			// 	.body
			// 		max-height 9999px
			// 		overflow-y auto
			// 		// opacity 1
			// 		transition all .15s ease-out 0

#search
	.receptions
		.close-button
			text-align right
			padding-right: 0.5em
			margin-top: 0.1em
			cursor pointer

		.disabled
			pointer-events none
			color gray

		.reception-search, .views
			color darkGray
			background-color lightGray

		.reception-search
			// drop shadow
			&:after
				content ""
				display block
				width 100%
				height 7px
				background-image linear-gradient(rgba(0,0,0,0.10), rgba(0,0,0,0))
				margin-bottom -7px
				z-index 9999

			.query
				position relative
				// line-height 3em
				// max-height 3em
				// overflow hidden

				transition max-height .3ss ease-out 0s

				// &.reception-on-selected
				// 	max-height calc(3em + 10px)
				// 	transition max-height .15s ease-out 0s

				// 	.select-type
				// 		position relative
				// 		margin-top -3em
				// 		transition margin-top .15s ease-out 0s

			// .select-type
			// 	transition margin-top .15s ease-out 0s
			// 	transition max-height 1s ease-out 0s

			// 	.link
			// 		margin .3em

			.tabs
				overflow hidden

				// users must select reception type
				// before selecting the rest, so hide
				// these options for now, and slide in
				.tab.reception, .tab.receptee
					transform translateY(10em)
					transition transform .15s ease-out

				&.type-selected
					.reception, .receptee
						transform translateY(0em)
						transition transform .15s ease-out
					.tab
						.text // see below
							display inline-block
							line-height 1.5em
						.link
							display none

				.tab
					display inline-block
					padding 1em 0.5em

					cursor pointer

					max-width 25%

					&:hover
						padding-bottom calc(1em - 5px)
						bottomBorder(mediumGray)

					&.selected
						padding-bottom calc(1em - 5px)
						bottomBorder(lightBackgroundEdgeColor)

					// by default all text parts are hidden until a user
					// makes a selection
					.text
						display none

					&.search
						float right
						vertical-align middle
						&, &:hover
							border none

						// to vertically center button
						&:before
							display inline-block
							content ''
							height 100%
							vertical-align middle
							margin-right -0.25em

		.btn.search-receptions
			display inline-block
			vertical-align middle
			margin-top -2px
			width 8em
			transition background-color .15s ease-out, width .15s ease-out
			.ing
				display none
			i
				margin-right .5em
			.fa.fa-clock-o
				opacity 0
				transition opacity .15s ease-out

		&.searching
			.btn.search-receptions
				width 9em
				background-color darkRed
				transition background-color .15s ease-out, width .15s ease-out
				.ing
					display inline
				.fa.fa-clock-o
					opacity 1
					transition opacity .15s ease-out

		.views
			overflow hidden
			box-shadow 0px 5px 10px -5px rgba(0, 0, 0, 0.2) inset

			position relative

			padding-bottom 1em

			border-bottom 1px solid darken(lightGray, 3%)

			// General styles
			.help-text
				width 20%
				margin-left -23%
				float left


			.reception-type-header,
			.reception-criteria-header,
			.search-criteria-header
				margin 0
				color darkGray

			.select-type,
			.select-reception,
			.select-receptee
				transition opacity .2s ease-out 0s, transform 0.15s ease-out 0s, max-height 0.15s ease-out 0s
				max-height 9999px
				opacity 1

				&.hidden
					transition opacity .2s ease-out 0s, transform 0.15s ease-out 0s, max-height 0.15s ease-out 0s
					transform translateY(-100%)
					opacity 0
					pointer-events none
					max-height 0

					.help-text
						opacity 0

					.work, .person
						transition max-height .15s ease-out 1s
						float none
						max-height 0

			.select-type
				padding 1em 0

				ul
					reset-box-model()
					li
						display inline-block
						&.selected
							font-weight bold

						&:before
							font-family fontAwesome
							content fontAwesomeCheckmark
							display inline-block
							width 1em
							height 1em
							position absolute
							margin-left -1.5em
							color transparent

						&.selected:before
							color linkColor
						&:hover:before
							color mediumGray
						&.selected:hover:before
							content fontAwesomeClose


				.category
					float left
					transition max-height .15s ease-out, opacity .15s ease-out
					max-height 9999px

					ul
						opacity .4

					&.active ul,
					&:hover ul
						opacity 1
						transition opacity .15s ease-out

					&.work
						width 65%
						li
							width 50%
					&.person
						width 30%
						li
							width 100%

		&.searching
			.query-editor
				opacity 0.3

		.reception-results
			position relative
			.export-to-excel
				margin-left 1em
				i.fa-table
					margin-right .5em

			.found, .num-rows
				margin-top 1em
				display inline-block

			.num-rows
				absolute right top
				display inline-block

				span:first-child,
				li
					margin-right .4em

				ul
					display inline-block
					list-style none
					margin 0
					padding 0
				li
					display inline-block

			.results-table
				width 100%
				border-collapse collapse

				th
					text-align left
				.results-type-header
					width 20%

					.results-body
					counter-reset reception-counter 0

					tr
						counter-increment reception-counter

					.secondary-information
						span
							display inline-block
							margin-right .4em

					td
						vertical-align top
						&:first-child:before
							results-counter-style(reception-counter)
							float left
							margin-left -4em
							width 3em
			.results-body
				tr
					border-bottom 1px solid lightGray

				td
					padding-top .5em

				.secondary-information
					span
						display inline-block
						margin-right .5em

			.next
				cursor pointer
				float right
				font-weight bold
				
			.prev
				cursor pointer
				float left
				font-weight bold
