if title
	h4= title

ul.fields
	each field in fields
		li
			label= field.label
			.value
				if _.isArray(field.value)
					ul
						each v in field.value
							li= v.label
				else
					= field.value