.container
	.header.centered
		h1 Neww Women Writers
		a.huygens-ing(href="http://www.huygens.knaw.nl/", target="_self")
	.navigation
		.centered
			a(href="/person").person All persons
			a(href="/work").works All works
			a(href="/person/search/") Person Search
			a(href="/work/search/") Work Search
			.user-status
	#search.centered
		.persons
		.works
	#view.centered