.container
	.header.centered
		h1 Neww Women Writers
		a.huygens-ing(href="http://www.huygens.knaw.nl/", target="_self")
	.navigation
		.centered
			a(href="/person/") Persons
			a(href="/document/") Documents
			a(href="/reception/") Receptions
			.user-status
	#search.centered
		.persons
		.documents
		.receptions
	#view.centered