.container
	.header.centered
		h1 Neww Women Writers
		a.huygens-ing(href="http://www.huygens.knaw.nl/", target="_self")
	.navigation
		.centered
			a(href="/person/") Person Search
			a(href="/work/") Work Search
			.user-status
	#search.centered
		.persons
		.works
	#view.centered