.container
	.header.centered
		a.home(href=config.get('baseUrl'))
			h1 Neww Women Writers
		a.huygens-ing(href="http://www.huygens.knaw.nl/", target="_self")
	.navigation
		.centered
			.links
				a.person(href="/person/") Persons
				a.document(href="/document/") Documents
				a.reception(href="/reception/") Receptions
				.user-status
	#app