.container
	.header.centered
		a.home(href=config.get('baseUrl'))
			h1 Neww Women Writers
		a.huygens-ing(href="http://www.huygens.knaw.nl/", target="_self")
	.navigation
		.centered
			.links
				a.link.person(href="/person/")
					span Persons
					a.btn(href=config.personAddUrl())
						i.fa.fa-plus
						| New person
				a.link.document(href="/document/")
					span Documents
					a.btn(href=config.documentAddUrl())
						i.fa.fa-plus
						| New document
				a.link.reception(href="/reception/") Receptions
				.user-status
	#search.centered
		.persons
		.documents
		.receptions
	#view.centered