.container
	.header.centered
		a.home(href=config.get('baseUrl'))
			h1 NEWW Women Writers
		a.huygens-ing(href="http://www.huygens.knaw.nl/", target="_self")
	.navigation
		.centered
			.links
				a.person(href="/persons/") Persons
				a.document(href="/documents/") Documents
				a.reception(href="/receptions/") Receptions
				a.source(href="/sources/") Sources
				.user-status
	#search
		.persons.centered
		.documents.centered
		.receptions
	#view.centered