.controls
	button.btn.save
		i.fa.fa-check
		| Save
	button.btn.gray.cancel
		i.fa.fa-times
		| Cancel

h1= person.tempName
.form

.controls.bottom
	button.btn.save
		i.fa.fa-check
		| Save
	button.btn.gray.cancel
		i.fa.fa-times
		| Cancel