div.results.unimplemented
	table.results-table
		thead.results-head
			tr
				th Receptions on ...
				th Type
				th Receptions
		tbody.results-body
			tr
				td In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
				td Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
				td Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
			tr
				td Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
				td Phasellus viverra nulla ut metus varius laoreet.
				td Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.