p.close-button x
div.relation-type-selector-content
	div.reception-type
		span Select receptions between documents and
		input#documents(type='radio', value='documents', name='reception-type')
		span documents 
		input#persons(type='radio', value='persons', name='reception-type') 
		span persons