h4
	= response.numFound + (response.numFound != 1 ? ' works' : ' work') + ' found'
	.order-by
		span Order by
		if response.sortableFields
			select
				each field in response.sortableFields
					option(value=field)= sortableFieldsMap[field] ? sortableFieldsMap[field] : field
.cursor
	span.prev &laquo; Previous
	span.position
		| Page&nbsp;
		span.current= 1 + (response.start / config.get('resultRows'))
		| &nbsp;of&nbsp;
		span.total= Math.ceil(response.numFound / config.get('resultRows'))
	.loader
	span.next Next &raquo;

ul
	- each work in response.results
		li
			a(href=config.workViewUrl(work._id))= work.title