.overlay
	position absolute
	background-color rgba(0,0,0,0.2)
	// z-index 9999

	// width 100%
	// height 100%

.faceted-search
	position relative

	font-size .9em

	padSize = 3%
	inputTextPadding = .4em

	input[type=text]
		width auto

	.text-search
		background-color lightBackgroundColor
		border-bottom: 1px solid lightBackgroundEdgeColor

		position relative
		padding padSize
		.search-input
			input
				width 100%
				padding 0 inputTextPadding
				line-height 2em
			i
				position absolute
				right inputTextPadding
				top 0
				line-height 2em
				padding 1em

		.fa-times // for hiding the options menu, but redundant, imho
			display none

		.cell-1 // match case -- nobody's going to use that
			display none
		.row-1 .cell-2
				display inline-block
				label
					cursor pointer
					border 1px solid transparent
					border-radius 3px
					padding .3em
					font-size .8em

					&:hover
						border 1px solid rgba(0,0,0,0.1)
				input
					display none

	.facets-menu
		background-color lightBackgroundColor

		list-style none
		padding 1em padSize
		margin 0
		border-bottom 1px solid lightBackgroundEdgeColor

		button
			background-color lightBackgroundEdgeColor

			&:hover
				background-color baseColor

		.switch
			display none
		.reset
			float right

	hr
		display none

	// .search-placeholder .facet.search button
	// 	button-style()
	// 	font-weight normal
	// 	box-shadow none
	// 	background-color transparent
	// 	border 1px solid mediumGray
	// 	color mediumGray
	// 	text-transform uppercase
	// 	font-size .7em
	// 	letter-spacing .06em

	// 	&:hover
	// 		background-color lightBackgroundEdgeColor
	// 		border none

	.facet
		// background-color lightBackgroundColor		

		header
			position relative // because .menu is absolutely positioned
			margin-bottom 0
			background-color lightBackgroundColor

			h3, .menu
				padding padSize
				margin 0
			.menu i
				color darken(lightBackgroundEdgeColor, 6%)
		
			h3
				display block
				font-size 1em

				cursor pointer
				&:hover
					background-color lightBackgroundEdgeColor

		.container
			max-height maxFacetHeight
			overflow-y auto

		.menu
			position absolute
			right 0
			top 0
			i
				color lightBackgroundEdgeColor
				cursor pointer
				margin-left .7em
				&:hover, &.active
					color darkGray
				&.filter:before
					content "\f002" // search is better icon for filter than filter

		.options,	&.list .options
			display none

			padding padSize
			margin 0
		
			background-color transparent
			border-top 1px solid lightBackgroundEdgeColor
			border-bottom 1px solid lightBackgroundEdgeColor
			border-radius 0
			box-shadow none

			.optioncount
				display block
				margin-top 2px
				color darkGray

			label
				margin-left .5em
				text-transform uppercase
				font-size .8em
				color darkGray

				cursor pointer

			input[name="all"]
				display none

			input[name="filter"]
				padding inputTextPadding
				width 100%

		bodyTransition = .15s

		.body
			background-color lightBackgroundColor

			padding padSize
			max-height 9999px
			overflow-y auto

			-webkit-transition max-height bodyTransition
			-webkit-transition padding bodyTransition

		&.collapsed
			header
				.menu
					display none
			.body
				-webkit-transition max-height bodyTransition
				-webkit-transition padding bodyTransition
				// -webkit-transition .15s

				overflow-y hidden
				padding 0 padSize
				max-height 0

		&.list
			ul
				list-style none
				padding 0
				margin 0

				li 
					position relative
					min-height 1em
					font-family sans-serif
					font-size 13px
					i
						&.fa-check-square-o:before
							color mediumGray
							content "\f105" // nicer checkmark
						&.fa-square-o:before
							color mediumGray
							content "\f105" // nicer checkmark
							visibility hidden // but don't show, to keep things lined up

					label
						cursor pointer
						margin 0 5% 0 4px
						display inline-block
						width 80%
						white-space normal
						&:hover
							text-decoration underline
					.count
						width 15%
						text-align right
						position absolute
						right 2px
						top 0