.faceted-search
	position relative

	background-color lightBackgroundColor

	input[type=text]
		width auto

	i.fa-compress, i.fa-refresh
		position absolute
		left -23px
		top 5px
		color lightGray

		&:hover
			color darkGray
	i.fa-refresh
		top 25px

	form
		border-radius 0
		box-shadow none

	form .search-placeholder .facet.search button
		button-style()
		font-weight normal

	form .facet
		background-color lightBackgroundColor
		padding 1em 0

		header h3
			font-size 13px

		.container
			max-height maxFacetHeight
			overflow-y scroll

		.placeholder
			padding 0 13px

		&.list
			ul
				list-style none
				padding 0
				margin 0

				li 
					font-family sans-serif
					font-size 13px
					i
						margin-right .5em
					label
						cursor pointer