fieldset
	border none
	padding 0

label
	font-family labelFont
	color labelColor
	display inline-block
	width 15em
	vertical-align text-top

label + div
	display inline-block
	

input[type=text]
	border 1px solid #eee
	border-radius borderRadius

	padding .4em .6em
	color inputTextColor

	width 30em

button, .btn
	cursor pointer
	padding .4em .6em
	background-color baseColor
	
	color white
	font-weight bold
	font-family sans-serif
	text-decoration none

	border none
	border-radius borderRadius
	box-shadow 2px 2px 0px rgba(0,0,0,0.2)

	&:hover
		background-color baseHighlightColor
	&:active
		box-shadow 1px 1px 0px rgba(0,0,0,0.2)
		position relative
		left 1px
		top 1px