formWidth = 100% // TODO: formWidth
borderWidth = 1px

border-style()
	border borderWidth solid borderColor
	border-radius borderRadius

input[type=text], textarea
	box-sizing border-box
	border-style()

	padding inputVerticalPadding inputHorizontalPadding
	color inputTextColor

	font-size baseFontSize

	outline none

	&:active, &:focus
		border 1px solid activeBorderColor

//============================== General form styling

button, .btn
	button-style()
	background-color buttonColor
	color white
	outline none
	&:hover
		background-color baseColor

	&.gray
		background-color lightGray
		color darkGray
		&:hover
			background-color darkGray
			color white
	
	&.disabled, &[disabled]
		background-color lightGray
		color mediumGray
		&:hover
			cursor default

	&.red
		background-color redHue
		color white
		&:hover
			background-color darken(redHue, 10%)

	&.alert
		shake(1, 0.15s)

.controls
	margin 35px 0
	width 100%
	position relative

	&.bottom
		padding-top 1em
		border-top 1px solid lightGray

	&:after
		clear both
		content ""
		display block

	button, .btn
		font-size 16px
		// margin-right 1em
		float left

		&.right
			float right

		i
			margin-right .3em


//========================================= Timbuctoo form styling

.timbuctoo-form
	& *, & *:hover, & *:active
		transition all .15s ease 0s

	fieldset
		border none
		padding 0

	legend
		font-weight bold
		display block
		padding 1em .5em
		margin-left -.5em
		margin-bottom 1em
		width 100%

	form
		input[type=text], textarea, .select2-container
			width formWidth // TODO: formWidth
			font-size baseFontSize
			margin 0

		textarea
			min-height 7em

		label
			font-family labelFont
			color labelColor

			display inline-block
			box-sizing content-box
			width 15%
			padding-right 3%
			padding-top inputVerticalPadding

			vertical-align top

		label + div
			display inline-block

		select
			background-color transparent
			border-style()
			
			font-size baseFontSize

			padding inputVerticalPadding inputHorizontalPadding
			margin 0 inherit
			width 100%

			cursor pointer
			outline none
			&:hover, &:active
				border 1px solid activeBorderColor

		span[data-editor='data-editor']
			display inline-block
			box-sizing border-box
			width 82%
			min-height 1px

		span[data-editor='data-editor'] span[data-editor='data-editor']
			width 100% // for sub fields, reset

		button[data-action="remove"]
			margin-left 1em

		.timbuctoo-list-item
			position relative

			margin-bottom 1em

			button[data-action="remove"]
				position absolute // right align top
				margin-top inputHorizontalPadding


		button[data-action="add"]
			margin-left inputHorizontalPadding

		button[data-action="add"], button[data-action="remove"]
			border-radius 1em
			background-color lightGray
			color mediumGray
			i
				display inline
			span
				opacity 0
				display inline-block
				width 0
				height 0
			&:hover
				border-radius borderRadius
				span
					display inline-block
					margin-left .5em
					width auto
					height auto
					opacity 1



	// .timbuctoo-list-editor
	// display inline-block

	.timbuctoo-link-editor
		.label-field, .url-field
			position relative
			span
				display inline-block
				position absolute

				line-height 3em
				padding-left 1em

				font-size 75%
				color mediumGray
				text-transform uppercase

			input
				padding-left 5em

	.field
		margin-bottom 1em

	// .field-links
	// 	.timbuctoo-list-item
	// 		position relative
	// 		padding-bottom 2em

	// 		button[data-action="remove"]
	// 			position absolute
	// 			right 0
	// 			margin
				
	// .field-names
	// 	.person-name-editor
	// 		padding: 2em
	// 	.name-component-editor
	// 		display inline-flex

	.person-names-editor
		display block
		.person-name-editor
			display block
			position relative

			.remove-name
				position absolute
				right 0

			.add-name-component-editor
				&:hover
					span
						margin-left 0
						margin-right 1em
		.name-component-editor
			display inline

			.timbuctoo-list-item
				margin-bottom .5em

			select // Name component
				width 25%
				margin-right 1%
			input
				width 65%

	.readonly-editor
		display block
		margin-left borderWidth
		padding-left inputHorizontalPadding  // line up with text in form elements
		padding-top inputVerticalPadding

	// .relation-editor // FIXME: rename to timbuctoo-?
	// 	display inline-block

	.dynamic-relations-editor
		position relative
		display inline-block
		// width formWidth // TODO: formWidth

		ul.relations
			margin 0

		label.timbuctoo-relation-type
			color darkGray
			font-size 80%
			font-weight bold
			padding-left .7em

		.timbuctoo-list-item
			margin-bottom 1em

		.add-new
			display inline
			button
				margin-top 1em
			h5
				display none
			ul
				display none

		.add-new.selection-box
			border-style()

			padding 20px

			boxShadowStyle = 0px 0px 9px rgba(0, 0, 0, 0.2)
			box-shadow boxShadowStyle
			-webkit-box-shadow boxShadowStyle

			margin-bottom -45px
			margin-left -20px
			margin-right -20px

			display inline-block
			position absolute
			bottom 9px
			left 6px

			width 38em

			background-color white

			button
				margin-top 20px
				margin-left -5px

			h5
				margin 0 0 1em 0
				display block

			ul
				display inline-block

				margin 0 0 10px 0
				padding 0

				list-style none

				font-size 90%

				li
					display inline-block
					width 14em
					padding .4em 0

					cursor pointer
					&:hover
						font-weight bold

	// button[data-action]
	// 	background-color transparent
	// 	color mediumGray
	// 	font-weight normal

	// LEAVE THIS COMMENTEDD ===============================
	// &[data-action="remove"]
	// 	box-sizing border-box
	// 	size = 1.35em

	// 	display flex

	// 	height size
	// 	width size

	// 	padding 0
	// 	margin-left -(size + .35em)

	// 	border-radius size
	// 	background-color transparent

	// 	&:hover
	// 		background-color darkRed
	// 		color white

	// &[data-action="add"]
	// 	box-sizing border-box
	// 	float right

	// 	margin-right 0
	// 	padding .1em .2em

	// 	text-transform uppercase
	// 	font-size 80%
	// 	font-weight bold

	// 	border 1px solid transparent
	// 	color mediumGray
	// ===========================================

	// .field:hover button[data-action]
	// 	color darkGray

	// 	&[data-action="add"]
	// 		border 1px solid lightGray
	// 		color darkGray
	// 		&:hover
	// 			color white
	// 			background-color buttonColor

	// 	&[data-action="remove"]
	// 		// color white
	// 		// background-color lightRed
	// 		border-width 1px
	// 		border-color lightRed
	// 		border-style solid
	// 		&:hover
	// 			background-color darkRed
	// 			color white
	// 			border-color rgba(255,255,255,0)
	// 		&:active
	// 			background-color darken(darkRed, 20%)