.person-network-graph
	.title
		position absolute
		margin 2em

svg
	.link
		stroke-width 1px
		fill none
		stroke mediumGray

		// I just learned about scales!
		&.light-stroke
			stroke-width 1px
		&.medium-stroke
			stroke-width 4px
		&.heavy-stroke
			stroke-width 9px

	text
		baseSize = 10px
		font-size baseSize
		text-anch

		&:hover
			font-size baseSize * 1.5
			cursor pointer
			transition font-size .2s ease-out

	circle
		cursor pointer
		color darkGray