/* SMARTPHONE  */
@media (max-width: 22em) 
	.c5_1
		min-height 1em
		text-align left

/* TABLET PORTRAIT */
@media (min-width: 42em)
	.c4_2
		width 50%
		width calc(50% - 3em)
		margin-right 3em
		float left

	.c5_1
		min-height 1em
		text-align left

/* TABLET LANDSCAPE  / SMALL SCREEN */
@media (min-width: 58em)
	.basicText
		width 37em
		margin-left auto
		margin-right auto
		text-align center

	.c3_1
		width 31%
		width calc(33% - 1.9em)
		margin-right 3em
		float left

	.gridHolder .c3_1:nth-last-child(2)
		margin-right 0em
		width calc(33% - 1.9em)

	.c3_2
		width 62%
		width calc(66% - 6em)
		margin-right 3em
		float left

	.c3_3
		width 100%
		float left

	.c4_1
		width 22%
		width calc(25% - 2.3em)
		margin-right 3em
		float left

	.gridHolder .c4_1:nth-last-child(2)
		margin-right 0em
		width calc(25% - 3em)

	.c4_2
		width 47%
		width calc(50% - 1.5em)
		margin-right 3em
		float left

	.gridHolder .c4_2:nth-last-child(2)
		margin-right 0em
		width 50%
		width calc(50% - 1.5em)	

	.c4_3
		width 72%
		width calc(75% - 3em)
		margin-right 3em
		float left

	.gridHolder .c4_3:nth-last-child(2)
		margin-right 0em
		width 50%
		width calc(75% - 1em)
		
	.c4_4
		width 100%
		float left

	.c5_1
		width 18%
		width calc(20% - 3em)
		margin-right 3em
		float left

	.c5_2
		width 37%
		width calc(40% - 3em)
		margin-right 3em
		float left

	.c5_3
		width 56%
		width calc(60% - 3em)
		margin-right 3em
		float left
		
	.c5_4
		width 77%
		width calc(80% - 3em)
		margin-right 3em
		float left
		
	.c5_5
		width 100%
		float left

	/* EXTRA design*/
	.c5_1
		min-height 10em
		display block
		font-size .9em

