body, html
	background-color backgroundColor
	font-family bodyFont
	padding 0 0 50px 0
	margin 0

h1
	font-family 'Raleway'
	font-weight normal
	color baseColor

a
	color linkColor
	font-family bodyFont, sans-serif
	text-decoration none
	border-bottom 1px dotted linkUnderlineColor

	&:hover
		border-bottom 1px solid linkColor

.header
	position	relative
	logoHeight = 56px
	logoWidth = 80px
	h1
		margin 1em 0 1em 0
		line-height logoHeight
		background-image url(baseUrl + '/images/nwwlogo.png')
		background-size  auto 100%
		background-repeat no-repeat
		background-position-x 10px
		padding-left 55px

	.huygens-ing
		text-decoration none
		border none
		
		display block
		position absolute
		top 0
		right 0

		&:hover
			text-decoration none

		width logoWidth
		height logoHeight
		background-image url(baseUrl + '/images/huygens-ing-small.png')

.navigation
	height 50px
	line-height 50px
	margin 35px 0 0 0
	box-sizing border-box

	background-color lightBackgroundColor
	border-top 1px solid lightBackgroundEdgeColor
	border-bottom 1px solid lightBackgroundEdgeColor

	a
		color black
		font-family sans-serif
		display inline
		margin-right 1em

	.user-status
		& *, & *:hover, & *:active
			transition all .15s ease 0s
	
		display inline-block
		float right

		button.login
			button-light-style()
			color mediumGray
			border-color lightGray
			&:hover
				color darkGray
				border-color darkGray

		& > span
			display none
		&.logged-in
			& > span
				display inline
				font-size .8em
				color darkGray
				.user-name
					font-weight bold
			button.login
				display none

ul.persons
	margin 0
	padding 0
	list-style none

	li
		a
			display block
			padding 1em .5em
			&:hover
				background-color lightGray