bottomBorder(clr)
	border-bottom 5px solid clr

#search
	.receptions
		
		.close-button
			text-align right
			padding-right: 0.5em
			margin-top: 0.1em
			cursor pointer

		.disabled
			pointer-events none
			color gray

		.reception-search
			color darkGray
			background-color lightGray
			border-bottom 1px solid lightBackgroundEdgeColor

			.centered
				line-height 3em

			.tab
				display inline-block
				padding 5px 0.5em

				cursor pointer

				&:hover
					padding-bottom 0
					bottomBorder(mediumGray)

				&.selected
					padding-bottom 0
					bottomBorder(lightBackgroundEdgeColor)

				&.type .on
					margin-left .3em
					color mediumGray

				&.search
					float right
					vertical-align middle
					&, &:hover
						border none

					// to vertically center button
					&:before
						display inline-block
						content ''
						height 100%
						vertical-align middle
						margin-right -0.25em

					button
						display inline-block
						vertical-align middle
						margin-top -2px
						width 5em

					i
						margin-right .5em

		.reception-source-search
			padding 1em
			text-align center
			i
				margin-right 0.5em

		.relation-type-selector
			display none

		.query-builder
			background-color lightGray
			border-bottom 1px solid lightBackgroundEdgeColor
			float left
			width 100%
			display none

			.faceted-search
				&, & form .facet
					background-color lightGray

				// height 100%

				.search-placeholder
					width 33%
					display inline-block
					float left
				.facets
					.facet
						display inline-block
						width 33%
						float left

		.query-editor
			transition all 0.1s ease-out 0s
		&.searching
			.query-editor
				opacity 0.3

		.results
			padding-top: 2em
			width 100%
			float left
			margin 0px
			.results-table
				float left
				width 100%
				border-collapse collapse

				.results-head
					tr
						th
							border-bottom 1.5px solid lightBackgroundEdgeColor
							text-align justify
							padding 0 1em
							
				.results-body
					tr
						td
							padding 1em
							border-bottom 1px dashed lightBackgroundEdgeColor
							
			.next
				cursor pointer
				float right
				font-weight bold
				
			.prev
				cursor pointer
				float left
				font-weight bold