bottomBorder(clr)
	border-bottom 5px solid clr

#search
	.receptions
		
		.close-button
			text-align right
			padding-right: 0.5em
			margin-top: 0.1em
			cursor pointer

		.disabled
			pointer-events none
			color gray

		.reception-search
			color darkGray
			background-color lightGray
			border-bottom 1px solid lightBackgroundEdgeColor

			.centered
				line-height 3em

			.tab
				display inline-block
				padding 5px 0.5em

				cursor pointer

				&:hover
					padding-bottom 0
					bottomBorder(mediumGray)

				&.selected
					padding-bottom 0
					bottomBorder(lightBackgroundEdgeColor)

				&.type .on
					margin-left .3em
					color mediumGray

				&.search
					float right
					vertical-align middle
					&, &:hover
						border none

					// to vertically center button
					&:before
						display inline-block
						content ''
						height 100%
						vertical-align middle
						margin-right -0.25em

					button
						display inline-block
						vertical-align middle
						margin-top -2px
						width 6em

					i
						margin-right .5em

		.reception-source-search
			padding 1em
			text-align center
			i
				margin-right 0.5em

		.relation-type-selector
			background-color #fafafa
			border-bottom 1px solid #D0E9E9
			border-top 1px solid #D0E9E9
			float left
			width 100%
			display none

		.query-builder
			background-color lightGray
			border-bottom 1px solid lightBackgroundEdgeColor
			float left
			width 100%
			display none

			.faceted-search
				&, & form .facet
					background-color lightGray

				// height 100%

				.search-placeholder
					width 33%
					display inline-block
					float left
				.facets
					display table
					
					.facet
						display inline-block
						width 33%
						float left

		.query-editor
			transition all 0.1s ease-out 0s
		&.searching
			.query-editor
				opacity 0.3

		.reception-results
			.results-table
				float left
				width 100%

				.results-body
					counter-reset reception-counter 0

					tr
						counter-increment reception-counter

					td
						vertical-align top

						&:first-child:before
							results-counter-style(reception-counter)
							float left
							margin-left -4em
							width 3em

			.next
				cursor pointer
				float right
				font-weight bold
				
			.prev
				cursor pointer
				float left
				font-weight bold
		
		.busy-overlay
			display none
			position fixed
			top 0
			left 0
			height 100%
			width 100%
			border-radius 0px
			background-color rgba(0, 0, 0, 0.7)
			
			.center-spinner
				position relative
				margin 25em auto
				width 5em
				text-align center
				background-color #FFFFFF
				border-radius 10px
				opacity 1