.results
	counter-reset li-result

	h4
		margin-top 0
		margin-bottom 1em

		.order-by
			span
				font-weight normal
				margin-right .5em
			display inline
			float right

	.cursor
		no-user-select()
		position relative
		margin-bottom 1em
		height 2em


		.prev, .next
			position absolute
			display inline-block
			padding 1em
			top 0

			font-weight bold
			cursor pointer

		.prev
			left 0
		.next
			right 0

		.position
			display block
			width 200px
			margin 0 auto
			text-align center
			padding 1em

		.loader
			small-loader-style()
			top 16px
			margin 0 auto
			display none
			position relative

	ol
		color mediumGray

		li
			position relative
			counter-increment li-result
			padding .5em 0
			border-top 1px solid lightBackgroundEdgeColor

			a
				display block
				height 100%

				border-bottom none

				color black

				&:before
					position absolute
					results-counter-style(li-result)
					width 3em
					left -3.5em

				&:hover
					color linkColor

				// Some titles are very, very long,
				// so show an ellipsis instead of
				// wrapping
				.title
					width 100%
					text-overflow ellipsis
					white-space nowrap
					overflow hidden

				.secondary-information
					.date,
					.publish-location,
					.language
						float right

					.publish-location:after,
					.language:after
						content "/"
						display inline-block
						margin 0 .4em

			&.is-curated:after
				size = 6px
				display block
				content ''
				width size
				height size
				border-radius size

				position absolute

				top 50%
				margin-top -1 * (size / 2)
				right -1.5em

				background-color baseColor
				

			&:last-child
				a
					border-bottom 1px solid lightBackgroundEdgeColor