.search
	float left
	width 300px

.results
	float left
	margin 20px 0 0 resultsLeftPadding

	ul
		list-style none
		padding 0
		margin 0
		a
			display block
			height 100%
			border-top 1px solid lightBackgroundEdgeColor
			padding .5em 0

			color black
			
		li:last-child
			a
				border-bottom 1px solid lightBackgroundEdgeColor