.select2-container
	background-image none
	border none

	width 100%

	a.select2-choice
		box-sizing border-box
		height auto // height of input boxes
		line-height inherit

		background-image none
		border 1px solid borderColor

		padding inputVerticalPadding inputHorizontalPadding

		.select2-arrow
			border-left 1px solid borderColor
			background-image none
			background-color transparent

	&.select2-container-active
		border none
		box-shadow none
		-webkit-box-shadow none

		a.select2-choice
			border 1px solid activeBorderColor
			box-shadow none
			-webkit-box-shadow none

			.select2-arrow
				background-color lightGray
				background-position 0 10px

	&.select2-dropdown-open
		.select2-choice, .select2-arrow
			background-color lightGray

.select2-drop
	shadowStyle = 0 1px 3px rgba(0,0,0,0.1)
	box-shadow shadowStyle
	-webkit-box-shadow shadowStyle

	&.select2-drop-active
		border 1px solid activeBorderColor

	.select2-search
		padding 0
		.select2-input
			background none
			// background white url('select2.png') no-repeat 100% -22px
			border-radius 0
			border-left none
			border-right none
			border-top none
			font-family labelFont

	.select2-results
		margin 0
		padding 0
		color mediumGray

		.select2-no-results
			font-size 90%
			background transparent
			text-align center
			padding 10px
		.select2-result
			color darkGray
			&.select2-highlighted
				color white