/* a style sheet to help the user see the unimplented parts of the site */

.unimplemented
	background-color #F7F5B4

p.unimplemented
	background-color #F7F5B4
	
.reception-search
	.reception-query
		.reception-query.target.unimplemented
			background-color #F7F5B4
		
		.reception-query.source.unimplemented
			background-color #F7F5B4
			
		.reception-query.order.unimplemented
			background-color #F7F5B4