.view
	position relative

	.margin-row
		margin-bottom 1em

	// To be shown programmatically, once user is logged in
	.controls
		display none

	h2
		font-family 'Raleway', sans-serif
		text-transform uppercase
		font-weight 100
		font-size 2em

	h4.author
		font-weight normal
		text-align right
		color darkGray

	.fieldset
		list-style none
		padding 0
		margin 0

		label
			color mediumGray
			// min-width 190px
			display inline-block
			margin-right .5em
			// line-height 1.8em
			// vertical-align top

		.field
			line-height 150%

			label
				vertical-align top
				min-width 190px

			&.large label, &.new-line label
				display block

			&.large, &.new-line
				margin 1em 0 1em 0

			.value
				display inline-block

				p
					margin 0
					display block

				ul
					display inline-block
					list-style none
					margin 0
					padding 0

				.name
					.component
						margin-right 1em
						.type
							font-size 0.6em
							margin-left 1em
							color mediumGray
							&:before
								content "("
							&:after
								content ")"

	p.versions
		text-align right
		margin-top 1em

		a:first-child
			margin-left 1em

		a:after
			content " | "
			color black
		
		a:last-child:after
			content ""

	.receptions
		h4
			color mediumGray
			font-weight normal

		&, & ul
			list-style none
			margin 0
			padding 0

		& ul
			line-height 1.5em
			margin-left 0em
			font-size .9em

	.revisions
		position absolute
		top 0
		margin-left -320px
		width 300px
		box-sizing border-box
		padding 10px

		h5
			color mediumGray
			margin 0