button-style()
	cursor pointer
	padding .4em .6em
	text-decoration none

	border none
	border-radius borderRadius

	font-weight bold
	font-family sans-serif

button-light-style()
	cursor pointer
	padding .4em .6em
	text-decoration none

	background-color transparent
	color darkGray

	border-width 1px
	border-style solid
	border-radius borderRadius

	font-family sans-serif

no-user-select()
	user-select none
	-webkit-user-select none
	-ms-user-select none
	-moz-user-select none