// @font-face
// 	font-family 'Raleway'
// 	font-style normal
// 	font-weight 100
// 	src local('Raleway Thin'), local('Raleway-Thin'), url(http://themes.googleusercontent.com/static/fonts/raleway/v7/RJMlAoFXXQEzZoMSUteGWD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff')

// @font-face 
// 	font-family 'Raleway'
// 	font-style normal
// 	font-weight 400
// 	src local('Raleway'), url(http://themes.googleusercontent.com/static/fonts/raleway/v7/IczWvq5y_Cwwv_rBjOtT0w.woff) format('woff')

// @font-face
// 	font-family 'Raleway'
// 	font-style normal
// 	font-weight 700
// 	src local('Raleway Bold'), local('Raleway-Bold'), url(http://themes.googleusercontent.com/static/fonts/raleway/v7/JbtMzqLaYbbbCL9X6EvaIxsxEYwM7FgeyaSgU71cLG0.woff) format('woff')

@font-face
	font-family 'Open Sans'
	font-style normal
	font-weight 300
	src local('Open Sans Light'), local('Open Sans-Light'), url('fonts/OpenSans-Light.ttf') // format('ttf')

@font-face 
	font-family 'Open Sans'
	font-style normal
	font-weight 400
	src local('Open Sans'), url('fonts/OpenSans-Regular.ttf') // format('ttf')

@font-face
	font-family 'Open Sans'
	font-style normal
	font-weight 700
	src local('Open Sans Semibold'), local('Open Sans-Semibold'), url('fonts/OpenSans-Semibold.ttf') // format('ttf')

// Text sizes, using scale from: http://webtypography.net/3.1.1

body
	font-size 100%
	line-height 1.375em
	font-size 16px

h1,
h2,
h3,
h4,
h5
	font-family 'Open Sans'

h1
	font-size 3em
	font-weight 300

h2,
.largest-text
	font-size 2.25rem

h3,
.larger-text
	font-size 1.5rem

h4
	font-size 1.125rem

h5
	font-size .875rem
	text-transform uppercase
	font-weight lighter

p,
.smaller-text,
.faceted-search h3
	font-size 0.875rem

.smallest-text,
.faceted-search h4,
.faceted-search .facet
	font-size 0.75rem

.small-caps
	font-size .875em
	text-transform uppercase