// Colors

lightGray = #f7f7f7
darkGray = #444
mediumGray = (lightGray / 2) + (darkGray / 2)

lightRed = #d29d9d
veryLightRed = lighten(lightRed, 80%)
darkRed = #a84d4d

// Color things

backgroundColor = white
baseColor = #129275
baseHighlightColor = lighten(baseColor, 10%)
labelColor = #888
inputTextColor = #555
linkColor = #6295BA
linkUnderlineColor = #D0DFEB

lightBackgroundColor = #f2f9f9
lightBackgroundEdgeColor = darken(lightBackgroundColor, 10%)

buttonColor = #17c29b
buttonColor = lighten(buttonColor, 10%)

borderColor = #eee
activeBorderColor = darken(borderColor, 15%)

// Dimensions

mainWidth = 960px
facetedSearchWidth = 300px
resultsLeftPadding = 50px

// Fonts

bodyFont = labelFont = 'Helvetica'


// Misc

borderRadius = 3px

maxFacetHeight = 300px