// Colors

lightGray = #f7f7f7
darkGray = #444

// Color things

backgroundColor = white
baseColor = #129275
baseHighlightColor = lighten(baseColor, 10%)
labelColor = #888
inputTextColor = #555
linkColor = #00a1de

lightBackgroundColor = #f2f9f9
lightBackgroundEdgeColor = darken(lightBackgroundColor, 10%)

// Dimensions

mainWidth = 960px
facetedSearchWidth = 300px
resultsLeftPadding = 50px

// Fonts

labelFont = 'Raleway'

// Misc

borderRadius = 3px

maxFacetHeight = 300px