bgColor = #EEE
baseColor = #129275

wwRed = #F44336
wwGreen = #4CAF50
wwYellow = #F2FC90

wwGray = #E0E0E0
wwDarkGray = #9E9E9E

wwTurquoise = #009688
wwLightTurquoise = #00BFA5
wwLighterTurquoise = #E0F2F1