div.reception-search
	div.reception-query.relation-type
		p.unimplemented Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
		a.edit-link Edit reception types
	div.reception-query.target
		p.unimplemented Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
		a.edit-link Edit receptions
	div.reception-query.source.unimplemented
		p Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
		a.edit-link.unimplemented Edit sources
	div.reception-query.order-and-group.unimplemented
		p Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
		a.edit-link.unimplemented Edit order and group

div.results.unimplemented
	table.results-table
		thead.results-head
			tr
				th Receptions on ...
				th Type
				th Receptions
		tbody.results-body
			tr
				td In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
				td Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
				td Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
			tr
				td Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
				td Phasellus viverra nulla ut metus varius laoreet.
				td Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.