.reception-search
	.centered
		.tab.type
			span All receptions
			span.on on
		.tab.source Works / Persons
		.tab.target Reception documents
		.tab.search
			button.btn.search-receptions
				i.fa.fa-search
				| Find

.centered
	.query-editor

	.results
	