div.reception-search
	div.reception-query.relation-type
		p.unimplemented Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
		a.edit-link Edit reception types
	div.reception-query.target
		p.unimplemented Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
		a.edit-link Edit receptions
	div.reception-query.source
		p.unimplemented Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
		a.edit-link.disabled Edit sources
	div.reception-query.order-and-group.unimplemented
		p Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
		a.edit-link.unimplemented Edit order and group

div.query-editor

button.search-receptions.disabled Search receptions

div.results.unimplemented
	