div.reception-search
	div.reception-query.source
		p Originals
		a.edit-link Specify originals
	div.reception-query.target
		p Reception documents
		a.edit-link Specify reception documents
	div.reception-query.relation-type
		p Reception types
		a.edit-link.disabled Specify reception types
	div.reception-query.order-and-group.unimplemented
		p Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
		a.edit-link.unimplemented Edit order and group

div.query-editor

button.search-receptions.disabled Search receptions

div.results
	