div.reception-search
	div.reception-query.source
		p Sources
		a.edit-link Edit sources
	div.reception-query.target
		p Receptions
		a.edit-link Edit receptions
	div.reception-query.relation-type
		p Reception types
		a.edit-link.disabled Edit reception types
	div.reception-query.order-and-group.unimplemented
		p Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
		a.edit-link.unimplemented Edit order and group

div.query-editor

button.search-receptions.disabled Search receptions

div.results
	