.reception-search
	.centered.query
		//- .select-type
		//- 	span Search for receptions on
		//- 	span.link(data-type="works") works
		//- 	span.or or
		//- 	span.link(data-type="persons") persons
		.tabs.smaller-text
			.tab.type
				div.text All receptions
				div.link All receptions
			.tab.reception
				div.text (all receptions)
				div.link (all receptions)
			.tab.receptee
				div.text All persons/works
				div.link All persons/works
			.tab.search
				button.btn.search-receptions
					i.fa.fa-search
					| Search


.views
	.select-type.centered
	.select-reception.centered.hidden
	.select-receptee.centered.hidden

.reception-results.centered