.reception-search
	.centered.query
		.select-type
			span Search for receptions on
			span.link(data-type="works") works
			span.or or
			span.link(data-type="persons") persons
		.tabs
			.tab.receptions
				span.link All receptions
				.options
					.reception-types
					.faceted-search
			.on on
			.tab.source
				span.link Works / Persons
				.options
					.faceted-search
			.tab.search
				button.btn.search-receptions
					i.fa.fa-search
					| Search

.centered
	.query-editor

	.reception-results