p.close-button x
div.reception-source-search
	div.reception-type
		span Select receptions between documents and
		input#documents(type='radio', value='documents', name='reception-type-source-type')
		span documents 
		input#persons(type='radio', value='persons', name='reception-type-source-type') 
		span persons