p.close-button x
div.reception-source-search
	div.source-type
		span Select receptions between documents and
		input#documents(type='radio', value='documents', name='source-type')
		span documents 
		input#persons(type='radio', value='persons', name='source-type') 
		span persons