.help-text
	| Select the type of reception you wish to search for
	| by selecting one or more of the options in the list to right

.work
	h3 Receptions on works

	ul
		each type in documentReceptions
			li(data-type=type.regularName)
				span.link= type.regularName

.person
	h3 Receptions on persons

	ul
		each type in personReceptions
			li(data-type=type.regularName)
				span.link= type.regularName