ul.index
	each letter in letters
		li(data-letter=letter)= letter

h1 Source Index

each letter in letters
	.letter(data-letter=letter)
		h2= letter
		ul
			each source in sources[letter]
				li
					a(href=config.sourceViewUrl(source.id))= source.title