doctype
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="/womenwriters/vre/css/react.css", type="text/css")
		title Women Writers
		script(src="/womenwriters/vre/js/react-libs.js")
		script(src="/womenwriters/vre/js/react-src-v3.js")
	body