doctype
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="/css/faceted-search.css", type="text/css")
		link(rel="stylesheet", href="/css/backbone.css", type="text/css")
	body
		.huygens-loader
			.loader-huygens-logo
			.loading-text Loading

		script(src="/js/backbone-libs.js")
		script(src="/js/backbone-src.js")