doctype
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="/womenwriters/fe/css/react.css", type="text/css")
		script(src="/womenwriters/fe/js/react-libs.js")
		script(src="/womenwriters/fe/js/react-src.js")
	body