doctype
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="/womenwriters/css/hibb-modal.css", type="text/css")
		link(rel="stylesheet", href="/womenwriters/css/hibb-faceted-search.css", type="text/css")
		link(rel="stylesheet", href="/womenwriters/css/backbone.css", type="text/css")
	body
		.huygens-loader
			.loader-huygens-logo
			.loading-text Loading

		script(src="/womenwriters/js/backbone-libs.js")
		script(src="/womenwriters/js/backbone-src.js")