doctype
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", type="text/css")
		link(rel="stylesheet", href="/css/main.css", type="text/css")
		script(src="/js/libs.js")
		script(src="/js/src.js")
	body
		.huygens-loader
			.loader-huygens-logo
			.loading-text Loading