doctype
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		//- link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", type="text/css")

		| <!-- @if ENV='development' -->
		link(rel="stylesheet", href!="<!-- @echo ABSOLUTE_PATH -->/css/libs.css", type="text/css")
		link(rel="stylesheet", href!="<!-- @echo ABSOLUTE_PATH -->/css/main.css", type="text/css")
		script(src!="<!-- @echo ABSOLUTE_PATH -->/js/libs.js")
		script(src!="<!-- @echo ABSOLUTE_PATH -->/js/react-libs.js")
		script(src!="<!-- @echo ABSOLUTE_PATH -->/js/src.js")
		| <!-- @endif -->

		| <!-- @if ENV='production' -->
		link(rel="stylesheet", href!="<!-- @echo ABSOLUTE_PATH -->/css/main.min.css", type="text/css")
		script(src!="<!-- @echo ABSOLUTE_PATH -->/js/main.min.js")
		| <!-- @endif -->
	body
		.huygens-loader
			.loader-huygens-logo
			.loading-text Loading